<li data-id="{{id}}" {{#unless was-devoured}}data-newdevoured="true"{{/unless}} class="d-flex align-items-center">
  {{burger_name}}
  {{#unless was-devoured}}
  <button class="devour">Devour!</button>
  {{/unless}}
</li>